# Prerequisites
*.d
.stm32env

# Object files
*.o
*.ko
*.obj
*.elf
*.lss
*.lst
# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)

*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
CLAUDE.md

# Build artifacts (ignore everything under build/)
build/**

# Keep final firmware artifacts tracked
!build/
!build/debug/
!build/debug/BMS-Firmware-RTOS.bin
!build/debug/BMS-Firmware-RTOS.elf
