.relEnd .list ul {
  float: left;
  margin-right: 2em; }

.embeddedProcessing .relEnd .list, .TIDesign .designList {
  float: left;
  width: 25%;
  overflow-y: auto;
  direction: rtl;
  border-top: 1px solid #e0e0e0;
  height: 300px; }

.embeddedProcessing .relEnd .list ul, .TIDesign .designList ul {
  float: none;
  margin: 0;
  direction: ltr; }

.embeddedProcessing .relEnd .list li, .TIDesign .designList li {
  padding: 0.5em;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-width: 0 1px 1px 1px;
  margin: 0; }

.embeddedProcessing .relEnd .list li.on, .TIDesign .designList li.on {
  background: #fff;
  font-weight: 600; }

.embeddedProcessing .relEnd .list li a, .TIDesign .designList li a {
  color: #333; }

.embeddedProcessing .relEnd .cnt, .TIDesign .cnt {
  position: relative;
  left: -1px;
  float: left;
  border: 1px solid #e0e0e0;
  padding: 0.5em;
  overflow: hidden;
  width: 75%; }

.embeddedProcessing .relEnd .cnt ul {
  color: #ccc;
  margin: 1em 0 0 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  column-count: 3;
  column-gap: 1em; }

.embeddedProcessing .relEnd .image {
  text-align: center; }

.embeddedProcessing .relEnd img {
  height: 300px; }

.embeddedProcessing .relEnd .link {
  font-size: 0.9em; }

.embeddedProcessing .relEnd .detail {
  font-size: 0.9em;
  clear: both;
  padding: 0.5em 0 0 0; }

.TIDesign {
  max-width: 1230px; }
  .TIDesign .cnt img {
    cursor: url(/assets/images/zoomIn.cur), default;
    float: right;
    max-width: 200px;
    padding: 0 0 0 1em; }
  .TIDesign ul li.pdf {
    background: url(/assets/images/icons/icon_s_pdf_a.png) no-repeat 0 2px;
    padding: 0 0 0 1.3em; }
  .TIDesign ul li.download {
    background: url(/assets/images/icons/icon_s_pdf_a.png) no-repeat 0 2px;
    padding: 0 0 0 1.3em;
    background-image: url(/assets/images/icons/icon_s_doc-download_a.png); }
  .TIDesign .disclaim {
    clear: both;
    padding: 1em 0 0 0; }
  .TIDesign .designList {
    overflow-y: auto;
    width: 25%;
    direction: rtl;
    float: left;
    height: auto;
    max-height: 360px;
    border-top: #e0e0e0 1px solid; }
  .TIDesign .cnt {
    border-bottom: medium none;
    position: relative;
    border-left: medium none;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    width: 75%;
    padding-right: 0.5em;
    float: left;
    overflow: hidden;
    border-top: medium none;
    border-right: medium none;
    padding-top: 0.5em;
    left: -1px; }

.ti-designs-section {
  border-bottom: #e0e0e0 1px solid;
  border-left: #e0e0e0 1px solid;
  display: block;
  height: 360px;
  border-top: #e0e0e0 1px solid;
  border-right: #e0e0e0 1px solid; }

#divContent ul {
  float: left; }

#divContent .TIdevices li {
  margin-bottom: 0px;
  background: none; }

#divContent .TIdevices .title {
  font-weight: 600; }

.TIDesign .oneDesign.designList {
  background-color: #f0f0f0;
  height: 276px;
  border-right: 1px solid #e0e0e0; }

.ti-designs-section #divContent ul li {
  margin: 0; }

#divContent ul {
  float: left;
  line-height: 1.3em; }

.TIDesign .title {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-weight: 800; }

.cn .TIDesign .designList {
  overflow-y: auto; }

.cn .ti-designs-section {
  height: 362px;
  overflow-y: auto; }

.downloadMultiple {
  position: relative;
  background: #fff;
  border: 3px solid #c0c0c0;
  padding: 1em 1em 1em 2em;
  margin-top: 2em;
  z-index: 50; }
  .downloadMultiple .close {
    position: absolute;
    background: url(/assets/images/iconCloseModal.png) no-repeat 0 0;
    background-image: url(/assets/images/iconCloseModal.svg);
    height: 18px;
    width: 18px;
    left: 0.5em;
    top: 0.5em;
    cursor: pointer; }
  .downloadMultiple .list {
    position: relative;
    width: 400px;
    max-height: 200px;
    overflow-y: scroll;
    padding: 0 0.5em 0 0; }
  .downloadMultiple ul {
    margin: 0 0 0.5em 0; }
  .downloadMultiple li {
    position: relative;
    background: none;
    border-bottom: 1px dotted #c0c0c0;
    padding: 0.2em 8em 0.1em 0;
    margin: 0; }
    .downloadMultiple li span {
      position: absolute;
      right: 0; }

#relEnds.relEnd .list {
  width: 100%;
  border-top: none;
  overflow-y: visible;
  height: auto; }
  #relEnds.relEnd .list li {
    background: url(/assets/images/ulCircle.png) no-repeat 0 1.1em;
    border: none;
    margin: auto;
    padding: 0.5em; }
    #relEnds.relEnd .list li a {
      color: #189; }

#relEnds ul.eeqlist {
  margin-bottom: 0; }
  #relEnds ul.eeqlist.col-count2 {
    -webkit-column-count: 2;
    -webkit-column-gap: 12em;
    -moz-column-count: 2;
    -moz-column-gap: 12em;
    column-count: 2;
    column-gap: 12em; }

#relEnds .list.showMore {
  margin-bottom: 2em; }
  #relEnds .list.showMore .showContent {
    max-height: 295px; }
  #relEnds .list.showMore.showLess .showContent {
    max-height: 100%; }

span.platinum {
  position: relative;
  background: none;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0 0 0 1.5rem !important;
  margin-left: 2rem; }
  span.platinum:before {
    position: absolute;
    background: url(/graphics/shared/3p_platinum.png) no-repeat 0 0;
    background-size: 100%;
    top: -0.4rem;
    left: 0;
    width: 1rem;
    height: 1.4rem;
    content: " "; }

.tblstandard p {
  margin-bottom: 0.5em; }

.modalAlert-bg {
  z-index: 10002;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .6;
  filter: alpha(opacity=60); }

.modalAlert {
  z-index: 10003;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.modalAlert .modalWindow {
  position: relative;
  background: #fff;
  margin: 0 auto;
  min-width: 320px;
  max-width: 94%;
  max-height: 500px;
  overflow: auto;
  padding: 1em 3em 2em 3em;
  border-radius: .2em;
  -webkit-box-shadow: 0 0 10px 0 #000;
  box-shadow: 0 0 10px 0 #000; }

.modalAlert .modalWindow .close {
  margin: -.5em -2.5em;
  position: absolute;
  color: #555 !important;
  background: url(http://www.ti.com/assets/images/iconCloseModal.svg), none;
  width: 18px;
  height: 18px; }

.modalAlert .modalWindow .close:active {
  background-position: 0 -100px; }

.modalAlert .modalWindow .userInfo {
  float: left;
  margin: 1em 0 0 0; }

.modalAlert .btnA.lrg {
  float: right;
  margin-left: 1em; }

.modalAlert hr {
  margin-top: 1.5em; }

#modal-left-side {
  height: auto;
  float: left;
  width: 300px; }

#modal-left-side :after {
  content: '';
  width: 0;
  height: auto;
  position: absolute;
  border: 0.5px solid #c0c0c0;
  left: 50%;
  top: 90px;
  bottom: 20px; }

#modal-right-side {
  height: auto;
  width: 300px;
  float: right; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.breadcrumb {
  font-size: 0.9em;
  color: #999;
  margin: 0 0 1em 0; }
  .breadcrumb a {
    color: #999; }
    .breadcrumb a:visited {
      color: #999; }

.pageContent h2 {
  margin-top: 1em; }

.tab br {
  display: none; }

.ti-icon-dash {
  font-family: 'Material Icons', sans-serif;
  font-size: 1.5em; }

#selection .part table, #selection .part td {
  border: 0; }

.tblcart.tblstandard {
  border: 0; }
  .tblcart.tblstandard tr {
    border-left: 1px solid #e0e0e0;
    /*position:relative;*/
    z-index: 11; }
  .tblcart.tblstandard .tbltab2 {
    border: 0; }
    .tblcart.tblstandard .tbltab2 tr {
      border: 0; }

.tblstandard td.tab1 {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #555; }
  .tblstandard td.tab1 td {
    position: relative;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 1em;
    border-radius: 0.2em 0.2em 0 0;
    box-shadow: 0 1px 1px #555;
    background: #f0f0f0;
    color: #d0d0d0;
    border: 0; }
    .tblstandard td.tab1 td.active {
      font-weight: 600;
      background: #555;
      z-index: 10; }
  .tblstandard td.tab1 a {
    color: #333;
    text-decoration: none; }
    .tblstandard td.tab1 a:visited {
      color: #333;
      text-decoration: none; }
  .tblstandard td.tab1 td.active a {
    color: #fff; }

/*Folder */
.pageTitle1 {
  float: left;
  width: 14%;
  padding: 0 1em 0 0; }

.pageTitle2 {
  float: left;
  width: 72%;
  padding: 0 1em 0 0; }

.pageTitle3 {
  float: left;
  width: 14%; }

.pageTitle h1 {
  margin-bottom: 0; }
  .pageTitle h1 font {
    font-size: 0.5em;
    font-weight: 400;
    position: relative;
    top: -0.2em; }
  .pageTitle h1.productTitle {
    font-size: 1.6em;
    margin-bottom: 0.3em; }

.pageTitle2 .status {
  float: left;
  margin: 0 0 0.8em 1em; }

.pageTitle .keyDocument {
  float: left;
  margin: 0 0 1em 0; }
  .pageTitle .keyDocument ul {
    margin: 0; }
  .pageTitle .keyDocument li {
    background: none;
    padding: 0 0 0.2em 2.4em;
    margin: 0; }
    .pageTitle .keyDocument li.datasheet {
      background: url(/assets/images/icons/icon_l_pdf_a.png) no-repeat 0 0;
      padding-top: 0.3em; }
  .pageTitle .keyDocument a {
    color: #cc0000; }
  .pageTitle .keyDocument .datasheet a.latest {
    margin: 0 0 0 0.5em; }
  .pageTitle .keyDocument .datasheet a.local {
    font-size: 1.2em;
    font-weight: 600; }

.ePitchPak {
  display: block;
  margin: 1em 0 0 0; }
  .ePitchPak input {
    background: url(/assets/images/iconFolder.png) no-repeat 0 -900px;
    border: 0 none;
    cursor: pointer;
    height: 21px;
    width: 79px; }

.tab li#sampleBuy a {
  background: url(/assets/images/iconFolder.png) no-repeat 0 2px;
  padding: 0 0 0 19px; }

.tab li#sampleBuy.active a {
  background-position: 0 -98px;
  color: #fff; }

#odsContent {
  position: relative;
  /*min-width:1230px; */ }

.errorText {
  color: #cc0000;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 600;
  height: 20px; }

nav .expandAll {
  margin: 0 0 1em; }

.expandAll a, .collapseAll a {
  float: right;
  font-size: 0.9em; }

.expandAll a:visited {
  color: #333; }

.collapseAll a {
  background-position: 0 -794px; }
  .collapseAll a:visited {
    color: #333; }

.odsHeader {
  border-bottom: 1px solid #555;
  margin: 0 0 2em 0;
  position: relative; }

.odsHeader1 {
  float: left;
  width: 40%; }

.odsHeader2 {
  float: right;
  text-align: right;
  width: 60%;
  padding: 0 0 0 2em; }

.odsHeader .pdf a.emailPDF {
  background: url(/assets/images/icons/icon_m_email_a.png) no-repeat 1px 0;
  padding: 0 0 0 25px; }

.odsHeader .pdf a.downloadPDF {
  background: url(/assets/images/icons/icon_m_pdf_a.png) no-repeat 0 0;
  padding: 3px 0 0 22px;
  margin: 0 2em 0 0; }

.pagination {
  position: absolute;
  top: 120px;
  width: 80%; }

.navCollapsed .pagination {
  width: 100%; }

.pagination a {
  display: block;
  position: absolute;
  background: #000 url(/assets/images/iconFolder.png) no-repeat 10px -475px;
  width: 40px;
  height: 80px;
  opacity: 0.1;
  filter: alpha(opacity=10); }
  .pagination a.prev {
    left: -50px; }
  .pagination a.next {
    background-position: 14px -575px;
    right: 50px; }
  .pagination a:hover {
    opacity: 0.2;
    filter: alpha(opacity=20); }

#content {
  margin: 0 0 0 20%;
  width: 80%;
  padding: 2em 50px; }

li.level-1 {
  font-weight: 600; }
  li.level-1 ul {
    font-weight: normal; }

ul.featureCols li.featureColLeft, ul.featureCols li.featureColRight {
  float: left;
  background: none;
  width: 50%; }

/* GENERATED CONTENT STYLES */
/*#loadContentArea { margin:5px 0 1em; } */
#loadContentArea .activelow {
  border-top: 1px solid #333;
  float: none; }

#loadContentArea table {
  position: relative;
  border-collapse: collapse;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  font-size: 1em;
  margin: 0.5em 0 1em; }
  #loadContentArea table th, #loadContentArea table td {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: top;
    padding: 0.5em; }
  #loadContentArea table th {
    background: #f0f0f0;
    color: #333;
    vertical-align: bottom;
    font-weight: 600; }

.timingdgm {
  text-align: center; }

.image-matrix .figure img, .image-matrix .graph img {
  height: 350px; }

.image-matrix .figure, .image-matrix .graph {
  min-height: 450px; }

.image-matrix-no-border .figure img, .image-matrix-no-border .graph img {
  height: 350px; }

.image-matrix-no-border .figure, .image-matrix-no-border .graph {
  min-height: 450px; }

#loadContentArea .graph {
  text-align: center; }

#loadContentArea .hilite {
  background-color: yellow; }

.subsection {
  clear: both;
  margin: 0 0 2em 0; }
  .subsection:before {
    content: "";
    display: table; }
  .subsection:after {
    content: "";
    display: table;
    clear: both; }

.gentable {
  margin-bottom: 10px;
  clear: both; }
  .gentable h5 {
    padding: 15px 0 5px 0; }
  .gentable ul li {
    padding-left: 5px;
    margin-left: 15px; }

span.green, span.blue, span.red {
  float: left;
  padding: 2px 0;
  position: relative;
  width: 100%; }

.thGrey {
  background-color: #d2d2d2 !important; }

span.thGrey {
  float: left;
  padding: 2px 0;
  position: relative;
  width: 100%; }

.odsContent .note, .odsContent .caution, .odsContent .warning {
  display: block;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  float: left;
  margin: 10px auto;
  padding: 10px 0;
  position: relative;
  width: 100%; }

.odsContent .caution, .odsContent .warning {
  display: block;
  border: 1px solid #CCCCCC;
  float: left;
  margin: 10px auto;
  padding: 10px 0;
  position: relative;
  width: 100%; }

.odsContent .note p.note_title, .odsContent .caution p.caution_title, .odsContent .warning p.warning_title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px; }

.odsContent .caution, .odsContent .warning {
  background: none #b9b9b9; }

.odsContent .subsection ul p {
  margin-left: 0.6em; }

.odsContent .note {
  float: none; }

.odsContent p {
  clear: both;
  max-width: 100%; }

.ModItemName {
  font-weight: bold;
  font-size: 1.2em;
  float: left;
  max-width: 120px;
  padding-top: 0.5em; }

.ModItemDesc {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
  margin-left: 130px;
  border-bottom: thin solid #000000;
  padding-top: 0.5em; }

.ModItemTerm {
  font-weight: bold;
  font-size: 1em;
  padding-top: 0.5em;
  clear: left;
  float: left; }

.ModTermDesc {
  padding-top: 0.5em;
  margin-left: 130px; }

.figure {
  text-align: center; }

.pinoutdrawing * {
  text-align: center; }

.pinoutdrawing img {
  display: block;
  margin: 20px auto 0 auto;
  text-align: center; }

span.boldItalic {
  font-style: italic;
  font-weight: 600; }

.image-matrix .graph, .image-matrix .figure {
  border: 1px solid #e0e0e0; }

.defterm {
  display: inline-block;
  font-weight: 600;
  min-width: 100px; }

.defitem {
  display: inline-block;
  padding-left: 2em; }

.textnote {
  text-align: left; }

.figure .textnote {
  margin-left: 10em; }

.textnote {
  font-size: 0.9em; }

.caption {
  font-size: 0.9em;
  display: block;
  font-style: italic;
  margin: 1em 0; }

.tablenote {
  float: left;
  padding: 3px 0;
  position: relative;
  width: 100%; }
  .tablenote.noData {
    padding: 10px 0; }

.vertCenter {
  vertical-align: middle !important; }

.reservedrow {
  background: #CCCCCC; }

.matrixleft {
  float: left;
  width: 50%;
  clear: left; }

.matrixright {
  float: right;
  width: 50%; }

.tabbedtext {
  border: none !important;
  display: inline; }
  .tabbedtext td {
    border: none; }

.subsection .image-matrix .subsection, .subsection .image-matrix-no-border .subsection {
  width: 100%;
  height: 100%; }
  .subsection .image-matrix .subsection table.tabbedtext, .subsection .image-matrix-no-border .subsection table.tabbedtext {
    margin: 0 auto !important; }

img[alt="esds-image"] {
  float: left;
  margin-right: 10px; }

#loadContentArea table.tabbedtext tr, #loadContentArea table.tabbedtext td {
  border: 0; }

#loadContentArea table tr.noBorderBottom {
  border-bottom: 0; }

#loadContentArea table td.noBorderRight {
  border-right: 0; }

ul.subList li.level-2 {
  text-indent: -9px; }

table.tableList {
  background: #FFFFFF;
  border: none !important; }
  table.tableList td {
    background: #FFFFFF;
    border: none !important; }

ul.tableList {
  padding-left: 2em; }
  ul.tableList li {
    list-style-type: upper-alpha;
    background: none;
    padding: 0; }
  ul.tableList ul li {
    list-style-type: disc !important; }

/* table background colors */
.green {
  background-color: #CCFFCC; }

.shade {
  background-color: #D2D2D2; }

.yellow {
  background-color: #FFFF99; }

.blue {
  background-color: #B9DFFF; }

.orange {
  background-color: #FFC498; }

.red {
  background-color: #FF6666; }

.sbd_blue {
  background-color: #82B5E2; }

.sbd_violet {
  background-color: #E57BD2; }

.sbd_light_violet {
  background-color: #EAACE4; }

.sbd_green {
  background-color: #65C192; }

.sbd_red {
  background-color: #D86869; }

.sbd_golden_brown {
  background-color: #D6B76F; }

.sbd_orange {
  background-color: #EF9E67; }

.sbd_yellow {
  background-color: #EBEB85; }

.sbd_turqoise {
  background-color: #7FDAEF; }

.sbd_purple {
  background-color: #9E9CF2; }

.sbd_white {
  background-color: #FFFFFF; }

.tbl_hdr_gray {
  background-color: #D8D8D8; }

.tbl_row_gray {
  background-color: #F0F0F0; }

/* table cell content alignment */
td.vertTop {
  vertical-align: top; }

td.vertCenter {
  vertical-align: middle; }

td.vertBottom {
  vertical-align: bottom; }

td.left {
  text-align: center; }

td.center {
  text-align: center; }

td.right {
  text-align: right; }

td.left.vertTop {
  vertical-align: top;
  text-align: left; }

td.center.vertTop {
  vertical-align: top;
  text-align: center; }

td.right.vertTop {
  vertical-align: top;
  text-align: right; }

td.left.vertCenter {
  vertical-align: middle;
  text-align: left; }

td.center.vertCenter {
  vertical-align: middle;
  text-align: center; }

td.right.vertCenter {
  vertical-align: middle;
  text-align: right; }

td.left.vertBottom {
  vertical-align: bottom;
  text-align: left; }

td.center.vertBottom {
  vertical-align: bottom;
  text-align: center; }

td.right.vertBottom {
  vertical-align: bottom;
  text-align: right; }

tr.vertTop {
  vertical-align: top; }

tr.vertCenter {
  vertical-align: middle; }

tr.vertBottom {
  vertical-align: bottom; }

th.left {
  text-align: left; }

th.center {
  text-align: center; }

th.right {
  text-align: right; }

nav {
  width: 20%;
  background: #f9f9f9;
  padding: 2em 2em 2em 3%;
  margin: 2em 0 0 0;
  position: absolute;
  border: 1px solid #e0e0e0;
  border-width: 1px 1px 0 0; }
  nav form {
    position: relative; }
  nav .searchHelp {
    cursor: help;
    height: 20px;
    right: 0.5em;
    position: absolute;
    top: 0.5em;
    width: 20px; }
  nav .searchButton {
    position: absolute;
    right: 0;
    top: -0.1em;
    background: url(/assets/images/iconFolder.png) no-repeat 8px -392px;
    border: 0;
    width: 30px;
    height: 2em;
    cursor: pointer; }
  nav .searchInput {
    width: 100%;
    font-size: 0.9em;
    padding-right: 2em; }
  nav .clearSearch {
    cursor: pointer;
    height: 20px;
    left: 240px;
    position: absolute;
    top: 6px;
    width: 20px; }
  nav ul, nav ol {
    margin: 0 0 1em 0;
    padding: 0; }
  nav ul ul, nav ol ol {
    margin: 0 0 0 0.5em; }
  nav li {
    position: relative;
    background: none !important;
    border-bottom: 1px dotted #e0e0e0;
    padding: 0.2em;
    color: #333;
    list-style-type: none;
    margin: 0 !important; }
  nav a {
    color: #333; }
    nav a:visited {
      color: #333; }
  nav li.collapsedMenuItem ol, nav li.collapsedMenuItem ul {
    display: none; }

span.tocMenuItemIcon {
  position: absolute;
  left: -1.5em;
  background: url(/assets/images/iconPlus.png) no-repeat 0 0;
  height: 18px;
  width: 18px;
  cursor: pointer; }

span.tocCollapseMenuIcon {
  background-position: 0 -100px; }

span.tocMenuItemIcon {
  background-image: url(/assets/images/iconPlus.svg); }
  span.tocMenuItemIcon img {
    border: 0; }

nav li li.lastLinkItem, nav li li:last-child {
  border: 0; }

nav span.tocIndexNum {
  position: relative;
  top: -0.1em;
  font-size: 0.8em; }

nav span.searchResultNum {
  position: relative;
  top: -0.1em;
  color: #fff;
  border-radius: 1em;
  background: #cc0000;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0 0.4em;
  margin-left: 1em; }

nav li.active > a, nav li.active > .tocIndexNum {
  color: #cc0000;
  font-weight: 600; }

nav .odsNav {
  margin: 0.5em 0 0 0; }

nav .close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: url(/assets/images/iconFolder.png) no-repeat 0 -200px;
  width: 18px;
  height: 18px;
  cursor: pointer; }

.navCollapsed .close {
  background-position: 10px -270px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-left: 0;
  width: 40px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
  z-index: 2; }
  .navCollapsed .close:hover {
    opacity: 1;
    filter: alpha(opacity=100); }

.navCollapsed .odsNav {
  display: none; }

.navCollapsed nav {
  width: 0;
  background: none;
  border: 0;
  overflow-y: hidden !important; }

.navCollapsed #content {
  width: 100%;
  margin-left: 0; }

nav hr {
  border: 0;
  border-top: 1px solid #c0c0c0;
  margin: 2em 0; }

.iconLegal {
  float: left;
  width: 3%; }

.copyLegal {
  float: left;
  width: 97%;
  padding: 0 0 0 1em; }

.pageContent1 .description, .pageContent1 .feature {
  float: left;
  width: 50%; }

.feature {
  padding: 0 0 0 2em; }

.paramName {
  float: left;
  white-space: nowrap; }
  .paramName tr:hover {
    background: none; }

.paramData {
  position: relative;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden; }
  .paramData table {
    border-left: 0; }

.parametric iframe {
  height: 400px;
  width: 900px; }

.paramName table tr td, .paramData table tr td {
  height: 15px; }

.paramName table tr td#samplelink, .paramData table tr td#samplelink {
  height: 30px; }

.parametric {
  margin-bottom: 2em; }
  .parametric h2 a {
    font-size: 0.63em;
    font-weight: 400;
    margin: 0 0 0 2em; }
    .parametric h2 a.feedback {
      float: right;
      background: url(/assets/images/icons/icon_l_forum_a.png) no-repeat 0 0;
      padding: 0.6em 0 0 33px; }
  .parametric .tblstandard {
    width: 100%; }

.promo {
  clear: both; }
  .promo img {
    float: left;
    margin: 0 0.5em 0.2em 0; }
  .promo h3 {
    font-size: 1.2em; }

.modal, #errDialog {
  position: absolute;
  background: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 0.2em;
  padding: 1em 2em;
  box-shadow: 0 0 10px #000;
  z-index: 1000; }

.modal a.close {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  background: url(/assets/images/iconCloseModal.png) no-repeat 0 0;
  background-image: url(/assets/images/iconCloseModal.svg);
  width: 18px;
  height: 18px;
  cursor: pointer; }

#modal-left-side {
  height: auto;
  float: left;
  width: 300px; }
  #modal-left-side::after {
    content: '';
    width: 0;
    height: auto;
    position: absolute;
    border: 0.5px solid #c0c0c0;
    left: 50%;
    top: 90px;
    bottom: 20px; }

#modal-right-side {
  height: auto;
  width: 300px;
  float: right; }

.techdoc ul {
  margin: 0; }

.techdoc li {
  background: none;
  padding-left: 0;
  margin: 0; }
  .techdoc li.other, .techdoc li.abstract {
    background: none;
    padding-left: 0; }
  .techdoc li .ti_icon {
    padding-right: 4px; }

.symbol table {
  float: left;
  width: 40%; }

.symbol .disclaim {
  float: left;
  width: 60%;
  padding: 0 0 0 2em; }

.disclaim, .mainDiv {
  font-size: 0.9em; }

#spanPlayer {
  width: 500px;
  height: 400px;
  overflow: hidden;
  background: #000; }

#spanPlayer_ifp {
  border: 0;
  max-width: 100%;
  max-height: 100%;
  width: 500px;
  height: 400px; }

.galleryTitle {
  font-size: 1.2em;
  font-weight: 600; }

#entryDesc {
  margin: 1em 0; }

.galleryContent {
  margin: 0 3em 0 1em; }

.galleryProp {
  margin: 0 0 0.5em 0; }

.galleryRelatedBox {
  width: 220px;
  height: 400px;
  overflow-y: scroll; }

.galleryRelated {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 0 1em 0; }

.galleryRelatedBox .hand {
  position: relative; }

.galleryRelatedPlay {
  position: absolute;
  left: 59px;
  top: 20px; }

.galleryThumbTitle {
  margin: 0 0 1em 0; }

.galleryRelatedBox img.active {
  border: 2px solid #cc0000; }

.e2e > ul {
  float: left;
  margin-right: 2em; }

#jquery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20001;
  width: 100%;
  height: 500px; }

#jquery-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20002;
  text-align: center;
  line-height: 0; }
  #jquery-lightbox a img {
    border: none; }

#lightbox-container-image-box {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto; }

#lightbox-container-image {
  padding: 0; }

#lightbox-loading {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

#lightbox-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

#lightbox-container-image-box > #lightbox-nav {
  left: 0; }

#lightbox-nav a {
  outline: none; }

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
  width: 49%;
  height: 100%;
  zoom: 1;
  display: block; }

#lightbox-nav-btnPrev {
  left: 0;
  float: left; }

#lightbox-nav-btnNext {
  right: 0;
  float: right; }

#lightbox-container-image-data-box {
  background-color: #fff;
  margin: 0 auto;
  line-height: 1.4em;
  overflow: auto;
  width: 100%;
  padding: 10px 0 0 0; }

#lightbox-container-image-data {
  padding: 0 10px; }
  #lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left; }

#lightbox-image-details-caption {
  font-weight: bold; }

#lightbox-image-details-currentNumber {
  display: block;
  clear: left;
  padding-bottom: 1em; }

#lightbox-secNav-btnClose {
  width: 66px;
  float: right;
  padding-bottom: 0.7em; }

.switcherPro {
  font-size: 0.9em;
  margin: 3em 0 0 0; }
  .switcherPro table {
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 0.5em;
    white-space: nowrap; }
    .switcherPro table table {
      border: 0;
      padding: 0 !important; }
  .switcherPro caption {
    font-weight: 600;
    font-size: 1.2em;
    color: #333;
    margin: 0.5em 0 0.3em 0;
    text-align: left; }
  .switcherPro td p {
    font-weight: 600;
    color: #333; }
    .switcherPro td p span {
      float: right;
      font-size: 0.9em;
      font-weight: normal;
      color: #ff0000; }
  .switcherPro input[type="text"] {
    width: 30px; }
  .switcherPro p.disclaim {
    margin: 0.5em 0 0 0; }

.nrnd {
  background: #ffffb3 url(/assets/images/iconFolder.png) no-repeat 12px -988px;
  border: 1px solid #e0e0e0;
  padding: 1em 1em 1em 68px;
  margin-top: 2em; }
  .nrnd h2 {
    margin-top: 0; }
  .nrnd a {
    color: #cc0000; }

.ePitchPak input, .tab li#sampleBuy a, .pagination a {
  background-image: url(/assets/images/iconFolder.svg); }

nav .searchButton, nav .close {
  background-image: url(/assets/images/iconFolder.svg); }

.diagram .list2 a.backward, .diagram .list2 a.forward {
  background-image: url(/assets/images/iconFolder.svg); }

.nrnd {
  background-image: url(/assets/images/iconFolder.svg); }

.bitregister {
  width: 100%; }

ul.auto-rev-history {
  overflow-x: hidden;
  width: 98%; }
  ul.auto-rev-history li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "; }
  ul.auto-rev-history span.left {
    background: #fff;
    padding-right: 0.5em; }
  ul.auto-rev-history span.right {
    background: #fff;
    padding-left: 0.5em;
    position: relative;
    float: right;
    z-index: 1; }

code {
  white-space: pre; }

.parametric .paramEdit {
  white-space: nowrap;
  text-align: center; }

.parametric th.paramEdit {
  /*background:#f4dfdf; */
  background: #d9f1f4; }

.parametric td.paramEdit {
  /*background:#fbeeee; */
  background: #edf7f8; }

.parametric th.paramEdit a {
  margin: 0 0 1em 0; }

.parametric .paramEdit input[type="text"] {
  width: 100%; }

.parametric .paramListGroup {
  text-align: center; }
  .parametric .paramListGroup span {
    position: relative;
    top: 0.3em; }
  .parametric .paramListGroup .button.prev {
    float: left;
    left: 0.5em; }
  .parametric .paramListGroup .button.next {
    float: right;
    right: 0.5em; }

.parametric .paramList .compare {
  display: block;
  font-size: 0.7em;
  font-weight: 400;
  color: #999; }

.parametric .paramLast {
  text-align: center;
  vertical-align: middle;
  max-width: 120px; }

.selectMultiple {
  position: relative; }
  .selectMultiple input[type=button] {
    width: 100%;
    text-align: left;
    background: #fff url(/assets/images/sortAsc.png) no-repeat right center;
    border: 1px solid #c0c0c0;
    padding: 0.3em;
    border-radius: 0.2em; }
  .selectMultiple ul {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0.5em 1em 0.5em 0.5em;
    border-radius: 0.2em;
    text-align: left;
    z-index: 1; }
  .selectMultiple.expanded ul {
    display: block; }
  .selectMultiple li {
    background: none;
    padding: 0; }

.parametric .paramRemove {
  float: right;
  background: url(/assets/images/iconCloseModal.png) no-repeat 0 0;
  background-image: url(/assets/images/iconCloseModal.svg);
  width: 18px;
  height: 18px;
  cursor: pointer; }
  .parametric .paramRemove:active {
    background-position: 0 -100px; }

span.flag {
  color: #cc0000;
  font-size: 0.8em;
  text-transform: uppercase; }

span.optional {
  color: #aaa;
  font-style: italic;
  font-size: 0.8em; }

.bold {
  font-weight: bold; }

.svg {
  text-align: center; }

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #000 url(/assets/images/iconLoading.gif) no-repeat 0 0;
  width: 46px;
  height: 46px;
  border-radius: 36px;
  opacity: 0.2; }

.node {
  float: none; }

.hide {
  visibility: hidden; }

@media screen and (max-width: 1024px) {
  /*.pageTitle, .pageContent, #odsContent { min-width:700px; } */
  .en .tab br {
    display: block; }
  .customParam .pageContent1 {
    width: 80%; }
  .customParam .pageContent2 {
    width: 20%; }
  .customParam .parametric .paramEdit {
    white-space: normal; } }

@media screen and (max-width: 768px) {
  nav {
    width: 50%;
    z-index: 1;
    padding-left: 4%; }
  #content {
    width: 100%;
    margin-left: 0; }
  .pagination {
    width: 100%; }
  .customParam .pageContent1, .customParam .pageContent2 {
    width: 100%;
    padding: 0; } }

/* Newely added for forlder revolution 18/08/09 */
/* remove space when there is no image" */
.product-path-ribbon .keyDocument:first-child .flexColumn:first-child {
  padding-left: 0; }

/* new pattern for spinner */
.loader {
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #118899;
  /* teal */
  border-right: 4px solid #118899;
  /* teal */
  border-left: 4px solid #118899;
  /* teal */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin .8s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Top applications selected for you */
.reco-box {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 2px solid #cc0000;
  padding: 20px 20px 55px 20px;
  background-color: #fff; }
  .reco-box h3 {
    min-height: 55px; }
    .reco-box h3 a, .reco-box h3 a:visited {
      color: inherit; }
    .reco-box h3 a:visited {
      color: inherit; }
  .reco-box img {
    width: 100px;
    display: block;
    margin: 0 auto; }
  .reco-box .button {
    position: absolute;
    bottom: 20px;
    background: white; }

.box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .box .column {
    flex: 1; }

#productInformation,
#tiPopularOrderable {
  margin-top: 10px; }

.productNumber {
  clear: both;
  padding: 0 0 0.4em; }

.pageContent {
  max-width: 1920px; }

.descriptionFeature.showMore .showContent {
  max-height: 250px; }

.descriptionFeature.showMore.showLess .showContent {
  max-height: none; }

.descParametricsTab .alert-message {
  margin: 0; }

.tab {
  display: block; }

#modal-left-side {
  height: auto;
  float: left;
  width: 300px; }

#modal-left-side :after {
  content: '';
  width: 0;
  height: auto;
  position: absolute;
  border: 0.5px solid #c0c0c0;
  left: 50%;
  top: 90px;
  bottom: 20px; }

#modal-right-side {
  height: auto;
  width: 300px;
  float: right; }

.alert-message {
  margin: 2em 0;
  padding: 1em;
  background-color: #edf7f8;
  border: 1px solid #189;
  border-radius: 5px; }

.alert-message p, .alert-message ul, .alert-message ol, .alert-message h3 {
  padding-left: 5rem; }

.alert-message p, .alert-message ul, .alert-message ol {
  margin: .25em 0 0 0; }

.alert-message h3 {
  margin: .2em 1em 0 0; }

.alert-message ol, .alert-message ul {
  list-style-position: inside; }

.alert-message:before {
  display: inline-block;
  font-size: 4.5em;
  color: #189;
  content: "\e88e";
  position: absolute; }

.alert-message.info:before {
  content: "\e88e"; }

.alert-message.tips:before {
  content: "\e85d"; }

.alert-message.undo:before {
  content: "\e166"; }

.alert-message.alert {
  background-color: #ffffb3;
  border: 1px solid #555; }

.alert-message.alert:before {
  color: #555;
  content: "\e002"; }

.alert-message.form-error, .alert-message.error {
  background-color: #fbeeee;
  border: 1px solid #900; }

.alert-message.form-error:before, .alert-message.error:before {
  color: #900;
  content: "\e88e"; }

.alert-message.form-success {
  background-color: #fff;
  border: 1px solid #096; }

.alert-message.form-success:before {
  color: #096;
  content: "\e86c"; }

.alert-message .close {
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.3em;
  padding: .2em;
  margin: -.5em -.5em 0 0;
  float: right; }

.alert-message .close:hover {
  background: rgba(150, 150, 150, 0.3); }

.alert-message .close::before {
  content: "\e5cd"; }

.alert-input {
  display: none; }

.alert-input:checked + .alert-message {
  opacity: 0;
  max-height: 1px;
  padding: 0;
  margin: 0;
  transition: opacity .1s,padding .1s,margin .1s; }

.alert-input:checked + .alert-message:before {
  max-height: 0; }

.alert-input:not(checked) + .alert-message {
  opacity: 1;
  transition: opacity .1s,padding .1s,margin .1s; }

a.more,
.button.noborder {
  background: url(/assets/images/iconMore.png) no-repeat 100% 60%;
  background-image: url(/assets/images/iconMore.svg);
  padding: 0 12px 0 0; }

.folder .descParametricsTab.pageContent {
  padding-top: 2em; }
  .folder .descParametricsTab.pageContent h2 {
    margin-top: 0; }
  .folder .descParametricsTab.pageContent .nrnd {
    margin: 0;
    margin-bottom: 2em; }
  .folder .descParametricsTab.pageContent .alert-message, .folder .descParametricsTab.pageContent .ti_message-box {
    margin-top: 0; }
    .folder .descParametricsTab.pageContent .alert-message h3, .folder .descParametricsTab.pageContent .ti_message-box h3 {
      margin-bottom: .5rem; }

.folder .descParametricsTab #relProds .ti_table img {
  max-height: 100px; }

.folder .descParametricsTab #relProds .ti_table.mod-comparison th, .folder .descParametricsTab #relProds .ti_table.mod-comparison td {
  text-align: left; }

.folder .descParametricsTab #relProds .ti_table.mod-comparison .button {
  float: left;
  margin-top: .5rem; }

.folder .descParametricsTab #parametrics .tblstandard {
  table-layout: auto;
  margin-bottom: 0; }

/**
* ==========================================================================
* Product Path Ribbon Styles
*
* ==========================================================================
*/
.no-margin {
  margin: 0;
  padding-bottom: 3px; }

#productInformation {
  display: flex;
  flex-direction: column; }

.ti-productpath-ribbon {
  max-width: 1920px;
  /*----China----*/
  /*------------*/ }
  .ti-productpath-ribbon h2.productTitle {
    font-weight: 400;
    margin-bottom: 1.25rem; }
  .ti-productpath-ribbon .keyDocument ul li {
    background: 0; }
  .ti-productpath-ribbon .product-path-ribbon {
    display: flex;
    margin: .5rem 0; }
    .ti-productpath-ribbon .product-path-ribbon .image {
      margin-top: .5rem; }
  .ti-productpath-ribbon .keyDocument .label {
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block;
    margin-bottom: .60em; }
  .ti-productpath-ribbon .flexColumn {
    display: flex;
    flex-direction: column;
    padding-left: 2rem; }
  .ti-productpath-ribbon.pageTitle .keyDocument {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .ti-productpath-ribbon.pageTitle .keyDocument ul {
      margin-bottom: .33em; }
      .ti-productpath-ribbon.pageTitle .keyDocument ul li {
        padding: 0;
        margin-bottom: .337rem; }
        .ti-productpath-ribbon.pageTitle .keyDocument ul li a {
          color: #189;
          font-size: 1em; }
        .ti-productpath-ribbon.pageTitle .keyDocument ul li.label {
          display: flex;
          margin-bottom: .25rem; }
        .ti-productpath-ribbon.pageTitle .keyDocument ul li span {
          color: #888;
          padding-left: 3px; }
          .ti-productpath-ribbon.pageTitle .keyDocument ul li span.badge {
            display: inline-block;
            font-weight: 400;
            color: black;
            font-size: 10px;
            top: -0.1em;
            position: relative;
            text-transform: uppercase;
            border: 1px solid #e9e9e9;
            padding: .1em .6em;
            border-radius: 1em; }
    .ti-productpath-ribbon.pageTitle .keyDocument .ti-language {
      white-space: nowrap;
      color: #555; }
  .ti-productpath-ribbon.pageTitle h1 {
    margin-bottom: 0;
    padding-right: .5em; }
  .ti-productpath-ribbon.pageTitle .ti-productpath-linktitle a {
    padding-left: 0;
    color: #189; }
  .ti-productpath-ribbon.pageTitle ul.ti-prodpath-ribbon-list li {
    display: inline-block;
    font-size: 0.8em;
    margin-right: 8px; }
  .ti-productpath-ribbon.pageTitle ul.ti-prodpath-ribbon-list li a {
    padding: 0;
    font-weight: normal; }
  .ti-productpath-ribbon .pageTitle2 h1.productTitle {
    font-weight: 400;
    margin-bottom: 1.25rem; }
  .ti-productpath-ribbon .pageTitle2 h1.partNumber {
    min-width: 228px;
    float: left; }
  .ti-productpath-ribbon div.pageTitle2 {
    width: 100%;
    float: none;
    padding: 0; }
  .ti-productpath-ribbon div.pageTitle3 {
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    padding-top: .9em; }
    .ti-productpath-ribbon div.pageTitle3 .btnNew {
      color: #555;
      background: white;
      border: 1px solid silver;
      height: 2.2em;
      padding: .25rem .5rem; }
    .ti-productpath-ribbon div.pageTitle3 select#toggleFoldersDropDown {
      margin: 0;
      margin-right: .7em;
      float: left;
      height: 2.2em; }
  .ti-productpath-ribbon .pdf_link {
    padding-left: 1.75rem;
    background-image: url(file-pdf-outline.svg);
    background-size: 18px 18px;
    background-position-x: -1px;
    background-repeat: no-repeat; }
  .ti-productpath-ribbon .u-color-grey7 {
    color: #555;
    fill: #555; }
  .ti-productpath-ribbon .ods_link {
    padding-left: 1.75rem;
    background-image: url(document-ods.svg);
    background-size: 18px 18px;
    background-position-y: 1px;
    background-repeat: no-repeat; }
  .ti-productpath-ribbon .part-number {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .ti-productpath-ribbon .title-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px; }
  .ti-productpath-ribbon .title-heading-status {
    position: relative; }
  .ti-productpath-ribbon .title-heading-label {
    font-size: 28px;
    font-weight: 400;
    margin-right: 0; }
  .ti-productpath-ribbon .title-heading-description {
    font-weight: 400;
    font-size: 22px;
    display: block;
    clear: both; }
  .ti-productpath-ribbon .product-number-description h1 {
    font-size: 22px; }
  .ti-productpath-ribbon .partNumber .pageTitle3 {
    font-size: 14px;
    padding-top: 0;
    margin-left: 16px; }
  .ti-productpath-ribbon .part-number {
    float: left;
    margin-bottom: 6px;
    margin-right: 16px; }
  .ti-productpath-ribbon .product-number-description h1 {
    font-weight: 400;
    font-size: 1.4em; }

@media only screen and (min-width: 1024px) {
  .ti-productpath-ribbon .flexColumn {
    flex: 1; } }

@media screen and (max-width: 1024px) {
  .ti-productpath-ribbon.pageTitle .keyDocument ul li a {
    padding-top: .25em; }
  #productInformation, #tiPopularOrderable {
    width: 100%; } }

/*----JP----*/
.folder.jp .ti-productpath-ribbon h1.productTitle {
  margin-top: .2em; }

/*------------*/
/* New badge styles */
.ti_status-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #555555;
  font-size: 13px;
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 0 0 20px; }
  .ti_status-box svg {
    margin-right: 4px; }

.badge-link {
  color: #555555;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center; }

.ti_status-badge.ti_status-ACTIVE path {
  fill: #44bb55; }

.ti_status-badge.ti_status-PREVIEW path {
  fill: #118899; }

.ti_status-badge.ti_status-OBSOLETE path {
  fill: #990000; }

.ti_status-badge.ti_status-NRND path {
  fill: #ff9933; }

.ti_status-badge.ti_status-LIFEBUY path {
  fill: #ff9933; }

.ti_status-badge.ti_status-tooltip-trigger {
  cursor: pointer;
  position: relative; }

.ti-tooltip-trigger.mod-hover:hover + .ti-tooltip-content, .ti-tooltip-trigger.mod-focus:focus + .ti-tooltip-content, .ti-tooltip-checkbox:checked + .ti-tooltip-content {
  animation: none; }

.ti-tooltip-content {
  position: absolute;
  display: none;
  top: 43px;
  left: 6px;
  white-space: pre-wrap;
  max-width: 400px;
  min-width: 350px;
  padding: 1rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #333;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.09), 0 3px 4px 0 rgba(0, 0, 0, 0.11), 0 3px 3px -2px rgba(0, 0, 0, 0.09);
  transform: translate(-12px, -10px); }
  .ti-tooltip-content::before {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ddd;
    left: 3px;
    border-top: 0;
    transform: rotate(0deg);
    top: -9px;
    content: "\00a0";
    display: inline-block;
    height: 0;
    width: 0;
    position: absolute; }
  .ti-tooltip-content::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    left: 4px;
    border-top: 0;
    transform: rotate(0deg);
    top: -8px;
    content: "\00a0";
    display: inline-block;
    height: 0;
    width: 0;
    position: absolute; }

.ti-tooltip-checkbox:checked + .ti-tooltip-content {
  display: inline-block;
  z-index: 3;
  opacity: 1;
  transform: translate(12px, -10px);
  animation: b cubic-bezier(0, 0, 0.2, 1) 0.25s; }

.ti-tooltip-trigger.mod-focus:focus + .ti-tooltip-content {
  display: inline-block;
  z-index: 3;
  opacity: 1;
  transform: translate(12px, -10px);
  animation: b cubic-bezier(0, 0, 0.2, 1) 0.25s; }

.ti-tooltip-trigger.mod-hover:hover + .ti-tooltip-content {
  display: inline-block;
  z-index: 3;
  opacity: 1;
  transform: translate(12px, -10px);
  animation: b cubic-bezier(0, 0, 0.2, 1) 0.25s; }

.guided_support_box {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #f9f9f9 none repeat scroll 0 0;
  border-color: #e0e0e0;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  padding: 1em;
  position: relative;
  margin-top: 30px;
  width: 100%; }

ul li.helpbox {
  line-height: 1.75em;
  margin: 0px; }

ul.helpbox li.email {
  background-image: url("http://www.ti.com/ww/en/guided_support/images/icon_email.png");
  padding-left: 25px;
  padding-top: 5px; }

ul.helpbox li.call {
  background-image: url("http://www.ti.com/ww/en/guided_support/images/icon_call.png");
  padding-left: 25px;
  padding-top: 8px; }

ul.helpbox li.chat {
  background-image: url("http://www.ti.com/ww/en/guided_support/images/icon_chat.png");
  padding-left: 25px;
  padding-top: 5px; }

ul.helpbox li.forum {
  background-image: url("http://www.ti.com/ww/en/guided_support/images/icon_forum.png");
  padding-left: 25px; }

ul.helpbox li.help {
  background-image: url("http://www.ti.com/ww/en/guided_support/images/icon_help.png");
  padding-left: 28px;
  padding-bottom: 8px;
  line-height: 2.5em; }

ul.helpbox li.help-g {
  background-image: url("http://www.ti.com/ww/en/guided_support/images/icon_help_g.png");
  padding-left: 28px;
  padding-bottom: 8px;
  line-height: 2.5em; }

.gs-results {
  padding: 8px;
  Margin-top: -40px; }

.guidedSupport li {
  white-space: nowrap;
  width: 22em;
  overflow: hidden;
  text-overflow: ellipsis; }

.diagram-slider {
  text-align: center;
  position: relative;
  float: left;
  padding: 0 4em;
  margin-top: 1em; }
  .diagram-slider.dia-single {
    padding: 0; }
  .diagram-slider .ti_icon.left,
  .diagram-slider .ti_icon.right {
    position: absolute;
    top: 40%;
    margin-top: -3em;
    padding: 1.5em 0;
    z-index: 10; }
    .diagram-slider .ti_icon.left:hover,
    .diagram-slider .ti_icon.right:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.2); }
    .diagram-slider .ti_icon.left.disabled,
    .diagram-slider .ti_icon.right.disabled {
      opacity: .5; }
    .diagram-slider .ti_icon.left.disabled:hover,
    .diagram-slider .ti_icon.right.disabled:hover {
      background: none;
      cursor: default; }
  .diagram-slider .ti_icon.left {
    left: 0; }
  .diagram-slider .ti_icon.right {
    right: 0; }
  .diagram-slider ul.items {
    margin: 0; }
    .diagram-slider ul.items li {
      background: none;
      padding: 0;
      margin: 0;
      list-style: none; }
      .diagram-slider ul.items li.hide {
        opacity: 0;
        height: 0; }
      .diagram-slider ul.items li img {
        height: 170px;
        margin: 0 auto;
        width: auto;
        display: block; }
      .diagram-slider ul.items li a.item-title {
        display: block;
        margin: 0 auto;
        max-width: 250px; }
  .diagram-slider .dia-pagination {
    display: block;
    text-align: center;
    margin-top: 1em; }

/* new TI-Design global table pattern TODO - to be removed once in clientlib-all.scss file */
#buy table.rst, #buy table.tblstandard, #buy table.ti-table, #buy table.sort {
  position: relative;
  border-collapse: collapse;
  width: 100%; }
  #buy table.rst .head.hidden, #buy table.tblstandard .head.hidden, #buy table.ti-table .head.hidden, #buy table.sort .head.hidden {
    display: none; }
  #buy table.rst .head.alternate, #buy table.tblstandard .head.alternate, #buy table.ti-table .head.alternate, #buy table.sort .head.alternate {
    background: #edf7f8;
    overflow: hidden; }
    #buy table.rst .head.alternate button, #buy table.tblstandard .head.alternate button, #buy table.ti-table .head.alternate button, #buy table.sort .head.alternate button {
      padding: 0.5em 0.8em;
      margin: 0 2em 0 0;
      float: left; }
  #buy table.rst thead, #buy table.rst th.header, #buy table.tblstandard thead, #buy table.tblstandard th.header, #buy table.ti-table thead, #buy table.ti-table th.header, #buy table.sort thead, #buy table.sort th.header {
    background: #f9f9f9 url(http://www.ti.com/assets/images/sort.png) no-repeat right center !important;
    cursor: pointer;
    text-align: left;
    padding-right: 20px;
    vertical-align: middle;
    border-bottom: 2px solid #e0e0e0; }
  #buy table.rst th, #buy table.tblstandard th, #buy table.ti-table th, #buy table.sort th {
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    vertical-align: middle;
    color: #333;
    padding: .7em .6em;
    font-size: .9em;
    font-weight: 500; }
    #buy table.rst th.header.headerSortDown, #buy table.tblstandard th.header.headerSortDown, #buy table.ti-table th.header.headerSortDown, #buy table.sort th.header.headerSortDown {
      background: #f9f9f9 url(http://www.ti.com/assets/images/sortDesc.png) no-repeat right center !important; }
    #buy table.rst th.header.headerSortUp, #buy table.tblstandard th.header.headerSortUp, #buy table.ti-table th.header.headerSortUp, #buy table.sort th.header.headerSortUp {
      background: #f9f9f9 url(http://www.ti.com/assets/images/sortAsc.png) no-repeat right center !important; }
    #buy table.rst th > span, #buy table.tblstandard th > span, #buy table.ti-table th > span, #buy table.sort th > span {
      cursor: pointer;
      display: inline-block;
      position: relative; }
    #buy table.rst th .search-parts, #buy table.tblstandard th .search-parts, #buy table.ti-table th .search-parts, #buy table.sort th .search-parts {
      font-size: 1.125em;
      float: left;
      margin-top: .5em;
      position: relative; }
      #buy table.rst th .search-parts::before, #buy table.tblstandard th .search-parts::before, #buy table.ti-table th .search-parts::before, #buy table.sort th .search-parts::before {
        position: absolute;
        right: .2em;
        top: .25em;
        font-size: 1.4em;
        content: "\e8b6"; }
      #buy table.rst th .search-parts input, #buy table.tblstandard th .search-parts input, #buy table.ti-table th .search-parts input, #buy table.sort th .search-parts input {
        width: 14em;
        padding: .25em .3em; }
      #buy table.rst th .search-parts input[type=button], #buy table.tblstandard th .search-parts input[type=button], #buy table.ti-table th .search-parts input[type=button], #buy table.sort th .search-parts input[type=button] {
        border: none;
        cursor: pointer;
        position: absolute;
        background: none;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        width: 2em; }
      #buy table.rst th .search-parts input.btn-reset, #buy table.tblstandard th .search-parts input.btn-reset, #buy table.ti-table th .search-parts input.btn-reset, #buy table.sort th .search-parts input.btn-reset {
        display: none; }
      #buy table.rst th .search-parts .auto-complete, #buy table.tblstandard th .search-parts .auto-complete, #buy table.ti-table th .search-parts .auto-complete, #buy table.sort th .search-parts .auto-complete {
        background: white;
        position: absolute;
        z-index: 10;
        width: 100%;
        max-height: 20em;
        overflow-y: auto;
        border: 1px solid silver;
        box-shadow: 3px 3px 3px rgba(200, 200, 200, 0.6);
        font-weight: normal; }
        #buy table.rst th .search-parts .auto-complete ul, #buy table.tblstandard th .search-parts .auto-complete ul, #buy table.ti-table th .search-parts .auto-complete ul, #buy table.sort th .search-parts .auto-complete ul {
          padding: 0;
          margin: 0; }
        #buy table.rst th .search-parts .auto-complete li, #buy table.tblstandard th .search-parts .auto-complete li, #buy table.ti-table th .search-parts .auto-complete li, #buy table.sort th .search-parts .auto-complete li {
          background: none;
          margin: 0;
          padding: .3em; }
          #buy table.rst th .search-parts .auto-complete li:hover, #buy table.tblstandard th .search-parts .auto-complete li:hover, #buy table.ti-table th .search-parts .auto-complete li:hover, #buy table.sort th .search-parts .auto-complete li:hover {
            background: #f0f0f0; }
          #buy table.rst th .search-parts .auto-complete li span, #buy table.tblstandard th .search-parts .auto-complete li span, #buy table.ti-table th .search-parts .auto-complete li span, #buy table.sort th .search-parts .auto-complete li span {
            background: #ffffb3; }
        #buy table.rst th .search-parts .auto-complete li.active, #buy table.tblstandard th .search-parts .auto-complete li.active, #buy table.ti-table th .search-parts .auto-complete li.active, #buy table.sort th .search-parts .auto-complete li.active {
          background: #f0f0f0; }
    #buy table.rst th .search-parts.reset::before, #buy table.tblstandard th .search-parts.reset::before, #buy table.ti-table th .search-parts.reset::before, #buy table.sort th .search-parts.reset::before {
      content: "\e14c"; }
    #buy table.rst th .search-parts.reset .btn-reset, #buy table.tblstandard th .search-parts.reset .btn-reset, #buy table.ti-table th .search-parts.reset .btn-reset, #buy table.sort th .search-parts.reset .btn-reset {
      display: block; }
    #buy table.rst th .search-parts.reset .btn-search, #buy table.tblstandard th .search-parts.reset .btn-search, #buy table.ti-table th .search-parts.reset .btn-search, #buy table.sort th .search-parts.reset .btn-search {
      display: none; }
  #buy table.rst td, #buy table.tblstandard td, #buy table.ti-table td, #buy table.sort td {
    vertical-align: top; }
  #buy table.rst tbody tr.selected, #buy table.tblstandard tbody tr.selected, #buy table.ti-table tbody tr.selected, #buy table.sort tbody tr.selected {
    background: #ffffe5; }
  #buy table.rst tbody tr.open td, #buy table.tblstandard tbody tr.open td, #buy table.ti-table tbody tr.open td, #buy table.sort tbody tr.open td {
    border-bottom: none; }
  #buy table.rst col.hilighted, #buy table.tblstandard col.hilighted, #buy table.ti-table col.hilighted, #buy table.sort col.hilighted {
    background: #edf7f8;
    -webkit-animation: fadeOut 4s 2s forwards;
    animation: fadeOut 4s 2s forwards; }
  #buy table.rst th.hilighted, #buy table.tblstandard th.hilighted, #buy table.ti-table th.hilighted, #buy table.sort th.hilighted {
    background: #edf7f8;
    -webkit-animation: fadeOut 4s 2s forwards;
    animation: fadeOut 4s 2s forwards; }
  #buy table.rst td.hilighted, #buy table.tblstandard td.hilighted, #buy table.ti-table td.hilighted, #buy table.sort td.hilighted {
    background: #edf7f8; }

#buy table.tblstandard.sort, #buy table .rst.sort, #buy table .ti-table.sort {
  border-top: 3px solid #189; }

#buy table .nonDistyTable {
  margin-top: 50px; }
  #buy table .nonDistyTable .tab1 {
    padding: 0;
    border-bottom: 3px solid #555 !important; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      #buy table .nonDistyTable .tab1 {
        border-bottom: 2px solid #555 !important; } }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      #buy table .nonDistyTable .tab1 {
        border-bottom: 2px solid #555 !important; } }
    #buy table .nonDistyTable .tab1 td {
      box-shadow: none; }
      #buy table .nonDistyTable .tab1 td.active {
        z-index: 0; }
  #buy table .nonDistyTable td {
    border-right: 1px solid #e0e0e0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

#buy table .nonDisty > div {
  position: relative; }
  #buy table .nonDisty > div .ti_icon {
    position: absolute;
    top: -55px;
    right: -65px;
    z-index: 1; }

#buy table .ti_icon.mod-disabled {
  fill: #555; }
